
body{
    width: 440px;
    height: 440px;
    background-color: rgb(131, 201, 241);
    background-image: radial-gradient(rgb(247, 103, 127) 10%, transparent 11%),
        radial-gradient(#f8f7f3 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;
    
}
.white-background{
    background:rgba(13, 162, 182,.7);
    margin:10px;
    
}

h1{

    color:rgb(247, 236, 187);
    height:auto;
    text-align:center;
    font-style: oblique;
    
    
}
#h2-design{
    font-size: 20px;
    color:rgb(247, 236, 187);
    height:auto;
    text-align:center;
    font-style: oblique;
    
}

#myDiv{
    font-size: 25px;
    color: rgb(241, 194, 210);
    text-align: center;
    font-style: oblique;
}

table{
border-collapse: collapse;
width:100%;

}
#row-deco{
    font-size: 20px;
    color:rgb(247, 236, 187);
    height:auto;
    text-align:center;
    font-style: oblique;
}

#td-deco{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-bottom: 1px;
    font-size: 18px;
    color: rgb(247, 194, 210);
    text-align: center;
    font-style: oblique; 
}

.form-design{
    padding: 8px;
    text-align: center;
    font-size: 30px;
    
}
.clearfix:after{
 content:" ";
 display:table-column;
 clear:both;
}

img{
   display:flex;
   margin: 0px 15px;
   border: 30px;
}
        


p{
    text-align:right;
    font-style:oblique;
    font-size: 20px;
    color:rgb(241, 194, 210);

}

