
body{
    width: 440px;
    height: 440px;
    background-color: rgb(152, 208, 241);
    background-image: radial-gradient(rgb(227, 49, 91) 10%, transparent 11%);
        radial-gradient(#2d2df4 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30 px;
    background-repeat: repeat;
}

#h1{
    font-size: large;
    color:rgb(rgb(185, 64, 92));
    height:auto;
    text-align:center;
    
}
#h2{
    font-size: medium;
    color:rgb(rgb(185, 64, 92));
    height:auto;
    text-align:center;
}
#div{
    font-size: 40px;
    color:aquamarine;
    text-align: center;

}

.table{
border-collapse: collapse;
width:100%;
}

th, td{
padding: 5px;
text-align: center;
text-decoration: aliceblue;
border-bottom: 1px,palevioletred;
}

.tr:nth-child(even){
    background-color: rgb(237, 197, 67);
}

.tr:hover{
    background-color: blue;
}

.form{
    padding: 8px;
    text-align: center;
    font-size: 30px;
    color:aquamarine;
}

img{
    .clearfix{
        display:block;
        zoom:1;
        &:after{
        font-size:0;
        height:0;
        clear: both;
        visibility:hidden;
        }
     }
        
}

#paragraph{
    text-align: center;
    font-size: 30px;
    color:aquamarine;
}
